<h1>Posts</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>
        #
      </th>
      <th>
        Date Received
      </th>
      <th>
        Estimated Expiration
      </th>
      <th>
        Client
      </th>
      <th>
        Status
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody id='posts'>
    <%= render @posts %>  
  </tbody>
</table>

<div id="paginator">
  <%= paginate @posts, remote: true %>
</div>